body {
    background-color:rgb(247, 244, 244);
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    
}
.clear-float {
    clear: both;
}
header {
    margin: 0px;
    margin-top: -5px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
    background-color: black;
    width: 100%;
    height: auto;
    position: relative;
    
}

header .navbar {
    padding: 0 10px;
    margin: 0 80px;
}
.Desti-dropdown:hover .Desti-content {
    display: block;
    color: black;
    background-color: rgb(125, 192, 255);

}
.Desti-content {
    display: none;
    
    
    position: absolute;
    z-index: 2;
    
}
.Desti-content ul {
    padding-inline-start:0;
    
    
    
}

.Desti-content ul li {
    float: none;
    list-style: none;
    
    padding:0; 
    margin: 0;
    
}
.Desti-content ul li .destination-dropdown {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    text-align: center;
    line-height: 40px;
    width: 120px;
    padding: 0;
    font-size: 12.5px;

}
.Desti-content ul li .destination-dropdown:hover {
    color: black;
}
header form {
    margin-right: 10px;
}
header .logo {
    background-image: url("../Assets/ip2.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 140px;
    height: 140px;
    background-position: center;
    
    
}
.dropdown-divider {
    padding:0;
    margin:0;
}
/*.collapse .mr-auto {
    margin-right:0;
}*/
header .navigationbar ul li a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    display: block;
    
    /*line-height: 140px;
    width: 120px; */
    padding: 0 10px;
    text-align: center
}
header ul li .nav-link:hover {
    color: rgb(0, 162, 255)!important;
    font-weight: bold;
    /*color: black;
    background-color: rgba(255, 255, 255, 0.623);*/
} 
.form-inline .btn {
    color: rgb(0, 153, 255);
    border-color: rgb(0, 153, 255);
}
.form-inline .btn:hover {
    background-color: rgb(0, 153, 255);
    color: white;
}

    
    
.form-inline {
    position: absolute;
    right: 1px;
}
.navbar-brand {
    padding-bottom: 0;
    padding-top: 0;
}

.page-content {
    padding:0;
}

.topbg {
   
    height: 200px;
    background-size: cover;
    
    background-position: center;
    width: 100%;
    display: table;
    text-align: center;
    position: relative;
    z-index: 0;
    
}
.topbg span{
    display: table-cell;
    vertical-align: middle;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px black;


}
.content {
    background-color: whitesmoke;
    margin: 15px 95px;
}
.content .main-side {
    background-color: white;
}
.content .main-side h2{
    color: black;
    font-size: 35px;
    font-weight: bold;
    padding-top:20px;
}
.content .main-side .author {
    margin: 15px 0;
}
.content .main-side .author img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-width: 0;
    display: inline-block;

}
.content .main-side .author span {
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
}
.content .main-side .author .name {
    color: black;
}
.content .main-side .author .date {
    color: gray;
}
.content .main-side .top-pic {
    object-fit: cover;
    width: 100%;
    height: auto;

}
.content .main-side p{
    font-size: 14px;
    color: black;

}

.content .main-side h3{
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
}
.content .main-side h4{
    font-size: 20px;
    font-weight: bold;
}
.content .main-side .incontent{
    width: 80%;
    height: auto;
    object-fit: cover;
    padding-bottom:10px;
}
.right-side {
    padding-right:0;
}
.right-side img {
    width: 100%;
    height: auto;
}
footer {
   
    margin: 0;
    padding: 0;
}
footer .top-of-footer {
    background-color: rgb(36, 36, 36);
    padding: 20px 0;

}
footer .top-of-footer .intro {
    width: 30%;
    display: block;
    
    
}
footer .top-of-footer .intro .logo {
    background-image: url("../Assets/ip2.png");
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-color: transparent;
    border: none;
    background-repeat: none;
    margin-left: 50px;
}
footer .top-of-footer p {
    font-size: 12px;
    color: white;

}
footer .top-of-footer .about-us p {
    margin-top: 10px;
    
    
   
} 
footer .top-of-footer .about-us .address {
    
    
    color: white;
    font-size: 12px;
    padding-top: 5px;
    
    
    
}

footer .top-of-footer .about-us img {
    display: inline-block;
    float:left;
    margin-right: 10px;
}
footer .top-of-footer .head {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
footer .top-of-footer .follow-us {
    width: 30%;
    display: block;
    
}
footer .bot-of-footer {
    
    background-color: rgb(0, 132, 255);
    margin: 0 -15px;

}
footer .bot-of-footer .copyright {
    font-size: 11px;
    color: white;
    float: left;
    padding: 10px;
}
footer .bot-of-footer .other-info{
    
    float: right;
    display: inline-block;
    padding: 10px 0;
}
footer .bot-of-footer .other-info a {
    font-size: 11px;
    padding: 0 10px;
    color: white;
    text-decoration: none;

}
.backtotop-button button {
    background-image: url("http://quochung.com.vn/image/data/logo/back-to-top.png");
    position: fixed;
    right: 5px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    
}
.backtotop-button button:focus {
    outline:none;
}
@media (max-width:769px) {
    .right-side {
        padding-top:20px;
    }
} 
@media (min-width: 552px) and (max-width: 767px){
    footer .top-of-footer .about-us .address {
    
    
        color: white;
        font-size: 12px;
        line-height: 40px;
        padding: 0;
        margin: auto;
    }
  }



@media  (max-width:991px) {
    .Desti-content {
        display: none;
        margin-top: none;
        
        position: unset;
    }
    .Desti-content ul li .destination-dropdown {
        width:auto;
        line-height:30px;
    }
    .navigationbar ul li a {
        line-height: 30px;
    }
    header ul li a:hover {
        background-color: transparent;
    }
    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: rgb(0, 162, 255);
        font-weight: bold;
    }
    .form-inline {
        position: unset;
        display: flex;
        justify-content: center;
        
        

        
        
    }
    .my-1 {
        margin-top: 15px!important;
        margin-bottom:15px!important;
    }
    .form-control {
        display: inline-block;
        margin: unset;
        
        
    }
}
@media (min-width: 992px) {
    .navbar-nav .nav-item {
        line-height: 140px;
    }
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 25px;
    padding-left: .25px;
}}

@media (max-width: 576px) {
    header .navbar {
        padding: 0;
        margin: 0;
    }
    .content{
        margin: 15px 25px;
    }
}

@media (max-width:767px) {
    footer .top-of-footer .intro .logo {
        margin-left: -15px;
    }
    .right-side .long{
        display: none;
    }
    .right-side {
        margin-left:-10px;
        text-align: center;
    }
    .right-side img {
        width: 70%;
    }
}